<div class="navbar bg-base-300 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">👨‍💻 DevTinder</a>
  </div>
  <div *ngIf="user!=null" class="flex gap-2">
    <div
      class="dropdown dropdown-end mx-5 flex"
      style="justify-content: center; align-items: center; gap: 30px"
    >
      <div>Welcome ,{{ username }}</div>
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="{{ photo }}" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li (click)="getprofile()">
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a routerLink="/connection">Connections</a></li>
        <li><a routerLink="/requests">Requests</a></li>
        <li (click)="logout()"><a >Logout</a></li>
      </ul>
    </div>
  </div>
</div>
